@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: 'Melbourne';
    src: url(fonts/Melbourne_reg.ttf);
}
@font-face {
    font-family: 'AquaGrotesque';
    src: url(fonts/aqua.ttf);
}
